<a href="https://colab.research.google.com/github/Shaif95/AICamp_DS/blob/main/Shaif_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

def get_stock_data(stock):
    # URL of the raw CSV file on GitHub
    csv_url = 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/' + stock + '.csv'

    # Read the CSV data into a pandas DataFrame
    df = pd.read_csv(csv_url)

    # Return the DataFrame
    return df

# Example usage
stock = 'AAPL'
data = get_stock_data(stock)
print(data.head(3))

            Date        Open        High         Low       Close   Adj Close  \
1253  2017-08-28  160.139999  162.000000  159.929993  161.470001  161.470001
1254  2017-08-29  160.100006  163.119995  160.000000  162.910004  162.910004
1255  2017-08-30  163.800003  163.889999  162.610001  163.350006  163.350006

        Volume
1253  25966000
1254  29516900
1255  27269600

In [24]:
import pandas as pd

def split_date(stock):
    # URL of the raw CSV file on GitHub
    csv_url = 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/' + stock + '.csv'

    # Read the CSV data into a pandas DataFrame
    df = pd.read_csv(csv_url)

    # Split the 'Date' column into separate columns for month, day, and year
    df[['Year', 'Month', 'Day']] = df['Date'].str.split('-', expand=True)

    # Return the modified DataFrame
    return df

# Example usage
stock = 'AAPL'
data = split_date(stock)
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000,2012,09,04
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,2012,09,05
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,2012,09,06
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,2012,09,07
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,2012,09,10

In [69]:
import pandas as pd

def add_stock_change(data):
    # Calculate the change column
    data['Change'] = data['Open'] - data['Close'].shift(1)

    # Drop rows with NaN values
    data = data.dropna()

    # Reset the index of the DataFrame
    data = data.reset_index(drop=True)

    data['Movement'] = data['Change'].apply(lambda x: 'UP' if x > 0 else 'DOWN')

    return data
  # Replace 'your_file.csv' with the path to your file
stock_data = add_stock_change(data)

# Display the updated DataFrame
stock_data.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Change,Movement
0,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,2012,09,05,0.085716,UP
1,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,2012,09,06,0.419998,UP
2,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,2012,09,07,0.254287,UP
3,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,2012,09,10,0.001435,UP
4,2012-09-11,95.015717,95.728569,93.785713,94.370003,85.265068,125995800,2012,09,11,0.338578,UP
5,2012-09-12,95.264282,95.699997,93.714287,95.684288,86.452538,178058300,2012,09,12,0.894279,UP
6,2012-09-13,96.767143,97.928574,96.395714,97.568573,88.155037,149590000,2012,09,13,1.082855,UP
7,2012-09-14,98.565712,99.568573,98.269997,98.754288,89.226341,150118500,2012,09,14,0.997139,UP
8,2012-09-17,99.907143,99.971428,99.230003,99.968575,90.323479,99507800,2012,09,17,1.152855,UP
9,2012-09-18,99.982857,100.332855,99.488571,100.272858,90.598404,93375800,2012,09,18,0.014282,UP

In [59]:
import pandas as pd

def create_XY(data):
    # Create X and Y
    X = data.iloc[1:].drop(columns=['Date','Movement']).values
    Y = data.iloc[1:]['Open'].shift(-1).values

    return X[1:], Y[1:]

X, Y = create_XY(stock_data)