<a href="https://colab.research.google.com/github/Shaif95/AICamp_DS/blob/main/Shaif_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [2]:
import requests

# Define the GitHub repository URL
repo_url = 'https://api.github.com/repos/yumoxu/stocknet-dataset/contents/price/raw'

# Send a GET request to the repository URL
response = requests.get(repo_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Extract the JSON response
    files_data = response.json()

    # Extract the file names from the response
    file_names = [file['name'] for file in files_data]

    # Print the list of file names
    print(file_names)
else:
    print('Failed to retrieve repository information:', response.status_code)

['AAPL.csv', 'ABB.csv', 'ABBV.csv', 'AEP.csv', 'AGFS.csv', 'AMGN.csv', 'AMZN.csv', 'BA.csv', 'BABA.csv', 'BAC.csv', 'BBL.csv', 'BCH.csv', 'BHP.csv', 'BP.csv', 'BRK-A.csv', 'BSAC.csv', 'BUD.csv', 'C.csv', 'CAT.csv', 'CELG.csv', 'CHL.csv', 'CHTR.csv', 'CMCSA.csv', 'CODI.csv', 'CSCO.csv', 'CVX.csv', 'D.csv', 'DHR.csv', 'DIS.csv', 'DUK.csv', 'EXC.csv', 'FB.csv', 'GD.csv', 'GE.csv', 'GMRE.csv', 'GOOG.csv', 'HD.csv', 'HON.csv', 'HRG.csv', 'HSBC.csv', 'IEP.csv', 'INTC.csv', 'JNJ.csv', 'JPM.csv', 'KO.csv', 'LMT.csv', 'MA.csv', 'MCD.csv', 'MDT.csv', 'MMM.csv', 'MO.csv', 'MRK.csv', 'MSFT.csv', 'NEE.csv', 'NGG.csv', 'NVS.csv', 'ORCL.csv', 'PCG.csv', 'PCLN.csv', 'PEP.csv', 'PFE.csv', 'PG.csv', 'PICO.csv', 'PM.csv', 'PPL.csv', 'PTR.csv', 'RDS-B.csv', 'REX.csv', 'SLB.csv', 'SNP.csv', 'SNY.csv', 'SO.csv', 'SPLP.csv', 'SRE.csv', 'T.csv', 'TM.csv', 'TOT.csv', 'TSM.csv', 'UL.csv', 'UN.csv', 'UNH.csv', 'UPS.csv', 'UTX.csv', 'V.csv', 'VZ.csv', 'WFC.csv', 'WMT.csv', 'XOM.csv']

In [3]:
# Add the URL prefix to each string in lst
prefixed_lst = ['https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/' + item for item in file_names]

# Print the updated list
print(prefixed_lst)

['https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/AAPL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/ABB.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/ABBV.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/AEP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/AGFS.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/AMGN.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/AMZN.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BA.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BABA.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BAC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BBL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BCH.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BHP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BRK-A.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BSAC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/BUD.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/C.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CAT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CELG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CHL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CHTR.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CMCSA.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CODI.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CSCO.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/CVX.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/D.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/DHR.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/DIS.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/DUK.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/EXC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/FB.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/GD.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/GE.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/GMRE.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/GOOG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/HD.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/HON.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/HRG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/HSBC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/IEP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/INTC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/JNJ.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/JPM.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/KO.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/LMT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MA.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MCD.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MDT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MMM.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MO.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MRK.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/MSFT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/NEE.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/NGG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/NVS.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/ORCL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PCG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PCLN.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PEP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PFE.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PG.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PICO.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PM.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PPL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/PTR.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/RDS-B.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/REX.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SLB.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SNP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SNY.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SO.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SPLP.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/SRE.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/T.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/TM.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/TOT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/TSM.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/UL.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/UN.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/UNH.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/UPS.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/UTX.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/V.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/VZ.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/WFC.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/WMT.csv', 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/XOM.csv']

In [4]:
import pandas as pd
import os

# Read and combine all CSV files into a single dataframe
dfs = []

for csv_url, stock_name in zip(prefixed_lst, file_names):
    df = pd.read_csv(csv_url)
    df['stock name'] = os.path.splitext(stock_name)[0]  # Extract stock name without extension
    dfs.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)


# Convert 'stock name' column to dummy numbers
combined_df['stock number'], stock_categories = pd.factorize(combined_df['stock name'])

# Create dictionary for stock name to category mapping
stock_category_mapping = dict(enumerate(stock_categories))

# Print the dictionary
print(stock_category_mapping)
combined_df.drop(["stock name"] ,axis = 1, inplace=True)
# Print the combined dataframe with the new 'stock number' column
print(combined_df)

{0: 'AAPL', 1: 'ABB', 2: 'ABBV', 3: 'AEP', 4: 'AGFS', 5: 'AMGN', 6: 'AMZN', 7: 'BA', 8: 'BABA', 9: 'BAC', 10: 'BBL', 11: 'BCH', 12: 'BHP', 13: 'BP', 14: 'BRK-A', 15: 'BSAC', 16: 'BUD', 17: 'C', 18: 'CAT', 19: 'CELG', 20: 'CHL', 21: 'CHTR', 22: 'CMCSA', 23: 'CODI', 24: 'CSCO', 25: 'CVX', 26: 'D', 27: 'DHR', 28: 'DIS', 29: 'DUK', 30: 'EXC', 31: 'FB', 32: 'GD', 33: 'GE', 34: 'GMRE', 35: 'GOOG', 36: 'HD', 37: 'HON', 38: 'HRG', 39: 'HSBC', 40: 'IEP', 41: 'INTC', 42: 'JNJ', 43: 'JPM', 44: 'KO', 45: 'LMT', 46: 'MA', 47: 'MCD', 48: 'MDT', 49: 'MMM', 50: 'MO', 51: 'MRK', 52: 'MSFT', 53: 'NEE', 54: 'NGG', 55: 'NVS', 56: 'ORCL', 57: 'PCG', 58: 'PCLN', 59: 'PEP', 60: 'PFE', 61: 'PG', 62: 'PICO', 63: 'PM', 64: 'PPL', 65: 'PTR', 66: 'RDS-B', 67: 'REX', 68: 'SLB', 69: 'SNP', 70: 'SNY', 71: 'SO', 72: 'SPLP', 73: 'SRE', 74: 'T', 75: 'TM', 76: 'TOT', 77: 'TSM', 78: 'UL', 79: 'UN', 80: 'UNH', 81: 'UPS', 82: 'UTX', 83: 'V', 84: 'VZ', 85: 'WFC', 86: 'WMT', 87: 'XOM'}
              Date       Open       High        Low      Close  Adj Close  \
0       2012-09-04  95.108574  96.448570  94.928574  96.424286  87.121140
1       2012-09-05  96.510002  96.621429  95.657143  95.747147  86.509338
2       2012-09-06  96.167145  96.898575  95.828575  96.610001  87.288956
3       2012-09-07  96.864288  97.497147  96.538574  97.205711  87.827171
4       2012-09-10  97.207146  97.612854  94.585716  94.677139  85.542564
...            ...        ...        ...        ...        ...        ...
108587  2017-08-28  76.900002  76.940002  76.260002  76.470001  76.470001
108588  2017-08-29  76.209999  76.489998  76.080002  76.449997  76.449997
108589  2017-08-30  76.239998  76.449997  76.059998  76.099998  76.099998
108590  2017-08-31  76.269997  76.489998  76.050003  76.330002  76.330002
108591  2017-09-01  76.370003  76.849998  76.320000  76.570000  76.570000

             Volume  stock number
0        91973000.0             0
1        84093800.0             0
2        97799100.0             0
3        82416600.0             0
4       121999500.0             0
...             ...           ...
108587    8229700.0            87
108588    7060400.0            87
108589    8218000.0            87
108590   15641700.0            87
108591    7340800.0            87

[108592 rows x 8 columns]

In [5]:
combined_df.shape

(108592, 8)

In [6]:
combined_df

,Date,Open,High,Low,Close,Adj Close,Volume,stock number
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000.0,0
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800.0,0
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100.0,0
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600.0,0
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500.0,0
...,...,...,...,...,...,...,...,...
108587,2017-08-28,76.900002,76.940002,76.260002,76.470001,76.470001,8229700.0,87
108588,2017-08-29,76.209999,76.489998,76.080002,76.449997,76.449997,7060400.0,87
108589,2017-08-30,76.239998,76.449997,76.059998,76.099998,76.099998,8218000.0,87
108590,2017-08-31,76.269997,76.489998,76.050003,76.330002,76.330002,15641700.0,87
108591,2017-09-01,76.370003,76.849998,76.320000,76.570000,76.570000,7340800.0,87

In [7]:
import pandas as pd

def get_stock_data(stock):
    # URL of the raw CSV file on GitHub
    csv_url = 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/' + stock + '.csv'

    # Read the CSV data into a pandas DataFrame
    df = pd.read_csv(csv_url)

    # Return the DataFrame
    return df

# Example usage
stock = 'AAPL'
data = get_stock_data(stock)
print(data.head(3))

         Date       Open       High        Low      Close  Adj Close    Volume
0  2012-09-04  95.108574  96.448570  94.928574  96.424286  87.121140  91973000
1  2012-09-05  96.510002  96.621429  95.657143  95.747147  86.509338  84093800
2  2012-09-06  96.167145  96.898575  95.828575  96.610001  87.288956  97799100

In [13]:
import pandas as pd

def split_date(stock):
    # URL of the raw CSV file on GitHub
    csv_url = 'https://raw.githubusercontent.com/yumoxu/stocknet-dataset/master/price/raw/' + stock + '.csv'

    # Read the CSV data into a pandas DataFrame
    df = pd.read_csv(csv_url)

    # Split the 'Date' column into separate columns for month, day, and year
    df[['Year', 'Month', 'Day']] = df['Date'].str.split('-', expand=True)

    # Return the modified DataFrame
    return df

# Example usage
stock = 'AAPL'
data = split_date(stock)
data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
0,2012-09-04,95.108574,96.448570,94.928574,96.424286,87.121140,91973000,2012,09,04
1,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,2012,09,05
2,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,2012,09,06
3,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,2012,09,07
4,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,2012,09,10

In [24]:
import pandas as pd

def add_stock_change(data):

    # Calculate the change column
    data['Change'] = data['Open'] - data['Close'].shift(1)

    # Drop rows with NaN values
    data = data.dropna()

    # Reset the index of the DataFrame
    data = data.reset_index(drop=True)

    data['Movement'] = data['Change'].apply(lambda x: 'UP' if x > 0 else 'DOWN')

    return data
  # Replace 'your_file.csv' with the path to your file
stock_data = add_stock_change(data)

# Display the updated DataFrame
stock_data.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Change,Movement
0,2012-09-05,96.510002,96.621429,95.657143,95.747147,86.509338,84093800,2012,09,05,0.085716,UP
1,2012-09-06,96.167145,96.898575,95.828575,96.610001,87.288956,97799100,2012,09,06,0.419998,UP
2,2012-09-07,96.864288,97.497147,96.538574,97.205711,87.827171,82416600,2012,09,07,0.254287,UP
3,2012-09-10,97.207146,97.612854,94.585716,94.677139,85.542564,121999500,2012,09,10,0.001435,UP
4,2012-09-11,95.015717,95.728569,93.785713,94.370003,85.265068,125995800,2012,09,11,0.338578,UP

In [9]:
import pandas as pd

def create_XY(data):
    # Create X and Y
    X = data.iloc[1:].drop(columns=['Date','Movement']).values
    Y = data.iloc[1:]['Open'].shift(-1).dropna().values

    return X[1:-1], Y[1:]

X, Y = create_XY(stock_data)

In [10]:
print(Y[0],X[0])

97.207146 [9.6864288e+01 9.7497147e+01 9.6538574e+01 9.7205711e+01 8.7827171e+01
 8.2416600e+07 2.5428700e-01]

In [11]:
def convert_XY(stock_data):
    stock_data['Movement'] = stock_data['Movement'].apply(lambda x: 1 if x == 'UP' else 0)
    Y = stock_data.iloc[1:]['Movement'].shift(1).values
    X = stock_data.iloc[1:].drop(['Date', 'Movement'], axis=1).values
    return X[1:], Y[1:]

X,Y = convert_XY(stock_data)

In [14]:
print(Y[9],X[9])

0.0 [ 9.98799970e+01  1.00008568e+02  9.90885700e+01  9.98142850e+01
  9.01840900e+01  8.41421000e+07 -4.20006000e-01]

In [41]:
import numpy as np

def Five_Day_XY(stock_data):
    stock_data['Movement'] = stock_data['Movement'].apply(lambda x: 1 if x == 'UP' else 0)
    df = stock_data
    X = []
    Y = []
    for _, row in df.iloc[:, 5:].iterrows():
        movement_value = row["Movement"]  # Assuming "Movement" is the column name
        Y.append(movement_value)

    X = []  # List to store the previous five rows
    rows_to_add = []
    for _, row in df.iloc[:, 5:].iterrows():
        rows_to_add.append(row.tolist())
        if len(rows_to_add) > 5:
            X.append(rows_to_add[-6:-1])

    X = np.array(X)
    flattened_X = np.reshape(X, (X.shape[0], -1))

    return flattened_X,np.array(Y)

X,Y = Five_Day_XY(stock_data)

In [42]:
np.shape(X)

(1252, 35)

In [ ]:
import numpy as np

def Five_Day_XY_Flattened(stock_data):
    stock_data['Movement'] = stock_data['Movement'].apply(lambda x: 1 if x == 'UP' else 0)
    df = stock_data
    X = []
    Y = []
    for _, row in df.iloc[:, 5:].iterrows():
        movement_value = row["Movement"]  # Assuming "Movement" is the column name
        Y.append(movement_value)

    X = []  # List to store the previous five rows
    rows_to_add = []
    for _, row in df.iloc[:, 5:].iterrows():
        rows_to_add.append(row.tolist())
        if len(rows_to_add) > 5:
            X.append(rows_to_add[-6:-1])

    return np.array(X),np.array(Y)

X,Y = Five_Day_XY(stock_data)

In [43]:
np.shape(X)

(1252, 35)